<!DOCTYPE html>
<html>
<head>
    <title>Prueba</title>
</head>
<body>

    <form action="" method="POST">
    <h1>Lobby Wars</h1>
        <div>
            <label>Demandante</label>
            <input type="text" placeholder="Ejemplo: NVV" name="plaintiff" required>
        </div>
        <div>
            <label>Demandado</label>
            <input type="text" placeholder="Ejemplo: KN" name="defendant" required>
        </div>
        <input type="submit" value="Comprobar resultado">
    </form>

</body>
</html>